<section class="user-guide">
  <div class="page-width page-width--narrow">
    <div class="block">
      <h3>{{ section.settings.flow_title }}</h3>
      
      {% for block in section.blocks %}
      <div class="box">
        <div class="step">{{ block.settings.step_number }}</div>
        <div class="flex">
          <div class="text">
            <h4>{{ block.settings.step_title }}</h4>
            <div class="img-box"><img src="{{ block.settings.step_image | img_url: 'master' }}" alt=""></div>
            <p>{{ block.settings.step_description }}</p>
            {% if block.settings.step_button_text and block.settings.step_button_link %}
            <a class="btn" href="{{ block.settings.step_button_link }}">{{ block.settings.step_button_text }}</a>
            {% endif %}
          </div>
          <div class="img-box"><img src="{{ block.settings.step_image | img_url: 'master' }}" alt=""></div>
        </div>
      </div>
      {% endfor %}
    </div>
  
    <div class="block">
      <h3>{{ section.settings.payment_title }}</h3>
      <p>{{ section.settings.payment_description }}</p>
      <div class="img-box"><img src="{{ section.settings.payment_image | img_url: 'master' }}" alt=""></div>
    </div>
  
    <div class="block">
      <h3>{{ section.settings.cancellation_title }}</h3>
      <p>{{ section.settings.cancellation_description }}</p>
      <div class="contact">
        {% if section.settings.contact_form_link %}
        <a class="btn" href="{{ section.settings.contact_form_link }}">{{ section.settings.contact_form_text }}</a>
        {% endif %}
        <div class="tel">
          <dl>
            <dt>{{ section.settings.store1_name }}</dt>
            <dd><a href="tel:{{ section.settings.store1_phone }}">Tel.{{ section.settings.store1_phone }}</a></dd>
          </dl>
          <dl>
            <dt>{{ section.settings.store2_name }}</dt>
            <dd><a href="tel:{{ section.settings.store2_phone }}">Tel.{{ section.settings.store2_phone }}</a></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>

  <style>
  .user-guide {
    width: 100%;
    padding-top: 80px;
  }
  .user-guide .block {
    margin-bottom: 100px;
  }
  .user-guide .block h3 {
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: 2px solid #011229;
    margin-bottom: 40px;
  }
  .user-guide .block p {
    line-height: 1.7;
    font-weight: 500;
  }
  .user-guide .block p small {
    font-weight: 600;
  }
  .user-guide .block .img-box {
    max-width: 600px;
    background-color: #fff;
  }
  .user-guide .block .img-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
  .box {
    position: relative;
    background-color: #f5f5f5;
    padding: 40px 20px 30px 20px;
    margin-bottom: 40px;
  }
  .box .step {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    padding: 5px 20px;
    background-color: #011229;
  }
  .box h4 {
    font-size: 20px;
    font-weight: 700;
    padding-top: 30px;
    padding-left: 10px;
  }
  .box .flex {
    display: flex;
  }
  .box .flex .text {
    flex-grow: 1;
    padding-right: 50px;
  }
  .box .flex .text >.img-box {
    display: none;
  }
  .box .flex .text p:last-of-type {
    margin-bottom: 0;
  }
  .box .img-box {
    width: 38%;
    height: 100%;
    flex-shrink: 0;
  }
  .box .img-box img {
    width: 100%;
  }
  .contact {
    margin-top: 30px;
  }
  .contact .btn {
    margin-bottom: 10px;
  }
  .btn {
    margin-top: 30px;
    font-weight: 700;
  }
  .tel dl {
    display: flex;
    margin: 10px 0;
  }
  .tel dl dt {
    font-weight: 700;
  }
  .tel dl dd {
    margin-left: 20px;
  }
  @media only screen and (max-width: 589px) {
    .user-guide {
      width: 100%;
      padding-top: 50px;
      margin-bottom: 100px;
    }
    .user-guide .block {
      margin-bottom: 60px;
    }
    .user-guide .block h3 {
      font-size: 21px;
      padding-bottom: 10px;
    }
    .box {
      padding: 40px 20px 20px 20px;
      margin-bottom: 30px;
    }
    .box h4 {
      font-size: 18px;
      padding-top: 20px;
      padding-left: 0;
      margin-bottom: 15px;
    }
    .box .flex .text {
      padding-right: 0;
    } 
    .box .flex .text >.img-box {
      display: block;
      width: 100%;
      height: auto;
      aspect-ratio: 1/.6;
      margin-bottom: 20px;
    }
    .box .flex >.img-box {
      display: none;
    }
    .box .img-box {
      aspect-ratio: 1/.7;
    }
    .box .img-box img {
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    .box .flex .text:has(.btn) p {
      margin-bottom: 30px !important;
    }
    .btn {
      margin-top: 0;
      font-size: 15px;
    }
  }
  </style>
</section>


{% schema %}
{
  "name": "User Guide",
  "settings": [
    {
      "type": "text",
      "id": "flow_title",
      "label": "サービス利用の流れのタイトル",
      "default": "サービス利用の流れ"
    },
    {
      "type": "text",
      "id": "payment_title",
      "label": "お支払いについてのタイトル",
      "default": "お支払いについて"
    },
    {
      "type": "richtext",
      "id": "payment_description",
      "label": "お支払いについての説明"
    },
    {
      "type": "image_picker",
      "id": "payment_image",
      "label": "お支払いについての画像"
    },
    {
      "type": "text",
      "id": "cancellation_title",
      "label": "ご予約の変更・キャンセルについてのタイトル",
      "default": "ご予約の変更・キャンセルについて"
    },
    {
      "type": "richtext",
      "id": "cancellation_description",
      "label": "ご予約の変更・キャンセルについての説明"
    },
    {
      "type": "url",
      "id": "contact_form_link",
      "label": "お問い合わせフォームのリンク"
    },
    {
      "type": "text",
      "id": "contact_form_text",
      "label": "お問い合わせフォームのボタンテキスト",
      "default": "お問い合わせフォーム"
    },
    {
      "type": "text",
      "id": "store1_name",
      "label": "店舗1の名前",
      "default": "五竜店"
    },
    {
      "type": "text",
      "id": "store1_phone",
      "label": "店舗1の電話番号",
      "default": "0261-75-2114"
    },
    {
      "type": "text",
      "id": "store2_name",
      "label": "店舗2の名前",
      "default": "栂池店"
    },
    {
      "type": "text",
      "id": "store2_phone",
      "label": "店舗2の電話番号",
      "default": "0261-71-5287"
    }
  ],
  "blocks": [
    {
      "type": "step",
      "name": "ステップ",
      "settings": [
        {
          "type": "text",
          "id": "step_number",
          "label": "ステップ番号",
          "default": "STEP01"
        },
        {
          "type": "text",
          "id": "step_title",
          "label": "ステップタイトル",
          "default": "商品を選んで注文へ進む"
        },
        {
          "type": "richtext",
          "id": "step_description",
          "label": "ステップ説明"
        },
        {
          "type": "image_picker",
          "id": "step_image",
          "label": "ステップ画像"
        },
        {
          "type": "text",
          "id": "step_button_text",
          "label": "ボタンテキスト",
          "default": "ご注文はこちらから"
        },
        {
          "type": "url",
          "id": "step_button_link",
          "label": "ボタンリンク"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "User Guide"
    }
  ]
}
{% endschema %}